/dist/
# Ignorar la carpeta de compilación
/build/

# Ignorar archivos de configuración generados por IDEs
nbproject/private/
*.class
*.log

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el archivo de persistencia de la base de datos
src/META-INF/persistence.xml
